<script setup lang="ts"></script>

<template>
  <v-parallax height="850" src="https://di.lnwfile.com/_/di/_raw/zg/ck/q9.jpg">
    <div class="text-center">
      <v-col
        ><v-btn
          size="x-large"
          variant="outlined"
          color="secondary"
          @click="dialog = true"
          >Watch My Portfolio</v-btn
        ></v-col
      >
      <v-dialog v-model="dialog">
        <v-card style="font-size: 45px; background-color: aqua">
          <v-card-text
            class="text-center"
            style="font-weight: bolder; color: slateblue"
            >Portfolio</v-card-text
          >
          <v-container class="justify-center">
            <v-row>
              <v-col align="center">
                <v-avatar
                  image="https://pbs.twimg.com/media/FkDTVUFWIAAxIrs?format=jpg&name=large"
                  size="100"
                ></v-avatar>
              </v-col>
            </v-row>
            <v-table style="background-color: aqua">
              <thead align="left" style="color: slateblue">
                <th style="font-size: 20px">Profile</th>
              </thead>
              <tbody>
                <tr style="font-size: x-large; color: darkorange">
                  - ชื่อ : กฤตภาส
                </tr>
                <tr style="font-size: x-large; color: darkorange">
                  - นามสกุล : น้อยมงคล
                </tr>
                <tr style="font-size: x-large; color: darkorange">
                  - สิ่งที่เราสนใจ : ดูหนัง และ เล่นเกมส์
                </tr>
                <tr style="font-size: x-large; color: darkorange">
                  - ประวัติการศึกษา : ระดับมัธยมศึกษา ณ
                  โรงเรียนบ้านบึงอุตสาหกรรมนุเคราะห์
                </tr>
                <tr style="font-size: x-large; color: darkorange">
                  - เพศ : ชาย
                </tr>
                <tr style="font-size: x-large; color: darkorange">
                  - อายุ : 19
                </tr>
                <tr style="font-size: x-large; color: darkorange">
                  - วันเกิด : 21/03/2546
                </tr>
              </tbody>
            </v-table>
          </v-container>
          <v-card-actions>
            <v-btn
              size="x-large"
              variant="outlined"
              color="primary"
              block
              @click="dialog = false"
              >Close Portfolio</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </v-parallax>
</template>

<script>
export default {
  data() {
    return {
      dialog: false,
    };
  },
};
</script>
